<div>
  <h2>Détails de l'utilisateur</h2>
  <p>Matricule Fiscale</p>
  <p>Nom</p>
  <p>Prénom</p>
  <p>Email</p>
  <p>Numéro de téléphone</p>
  <p>Type de tension</p>
  <p>Feuilles nécessaires:</p>
  <ul>
    <li>Étude préliminaire:
      <ul>
        <li>Une demande au nom du PDG de la STEG spécifiant le type d'installation, la puissance installée et l'année prévue de mise en service</li>
        <li>Copies des documents d'identité (CIN, passeport pour les personnes physiques, registre de commerce pour les personnes morales)</li>
        <li>Plan et coordonnées GPS du site d'objet de l'étude de raccordement</li>
        <li>Justificatif de versement des frais de l'étude préliminaire de raccordement</li>
        <li>Tous les documents sur support papier doivent être paraphés et signés avec cachet</li>
        <li>Délai de réalisation de l'étude préliminaire: 30 jours à partir de la date de dépôt</li>
      </ul>
    </li>
    <li>Étude détaillée:
      <ul>
        <li>Une demande au nom du PDG de la STEG spécifiant le type d'installation, la puissance installée et l'année prévue de mise en service</li>
        <li>Copie de l'arrêté ou de la décision relative à la réalisation du projet</li>
        <li>Copie du contrat de vente signé par les porteurs du projet (pour le régime autorisation)</li>
        <li>Copies des documents d'identité (CIN, passeport pour les personnes physiques, registre de commerce pour les personnes morales)</li>
        <li>Plan et coordonnées GPS du poste de livraison objet de l'étude de raccordement</li>
        <li>Justificatif de versement des frais de l'étude détaillée de raccordement</li>
      </ul>
    </li>
  </ul>
</div>






    


  <h2>Rapport d'aperçu</h2>
  <form >
    <label>Date :</label>
    <input type="text"  name="date" required>

    <label>Destinataire :</label>
    <input type="text"  name="destinataire" required>

    <label>Objet :</label>
    <input type="text"  name="objet" required>

    <label>Introduction :</label>
    <textarea  name="introduction" required></textarea>

    <label>Analyse de la Situation Actuelle :</label>
    <textarea  name="analyse" required></textarea>

    <label>Conclusion :</label>
    <textarea  name="conclusion" required></textarea>

    <button type="submit">Envoyer</button>
    <br>
    <button class="validate-button" >Valider</button>

  </form>

