<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <div class="demand-list">
        <h2>Demandes acceptées</h2>
        <table>
            <thead>
                <tr>
                    <th>Matricule fiscale</th>
                    <th>Numéro de demande</th>
                    <th>Date de soumission</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123456789</td>
                    <td>123456</td>
                    <td>01/02/2023</td>
                    <td>
                        <button class="view-details" onclick="window.location.href='/detail-accept'">Voir détails</button>
                    </td>
                </tr>
                <!-- Ajoutez d'autres lignes pour d'autres demandes acceptées -->
            </tbody>
        </table>
    </div>

    