<h2>Page d'aide</h2>
<p>
  Bienvenue dans notre section d'aide. Vous trouverez ici des réponses aux questions fréquemment posées.
</p>
<ol>
  <li>
    <strong>Comment soumettre une demande de raccordement ?</strong>
    <p>
      Pour soumettre une demande de raccordement, suivez les étapes suivantes :
      <ol>
        <li>Remplissez le formulaire de demande en ligne.</li>
        <li>Téléchargez les documents requis.</li>
        <li>Soumettez votre demande.</li>
      </ol>
    
  </li>
  <li>
    <strong>Dossier de la demande : Étude préliminaire</strong>
    <p>
      Le dossier de la demande pour l'étude préliminaire de raccordement doit contenir les éléments suivants :
      <ul>
        <li>Une demande au nom du PDG de STEG pour la réalisation de l'étude préliminaire.</li>
        <li>Les documents d'identité (CIN, passeport, registre de commerce).</li>
        <li>Le plan et les coordonnées GPS du site d'objet de l'étude.</li>
        <li>Le justificatif de versement des frais de l'étude préliminaire.</li>
      </ul>
      Les délais pour cette étude sont fixés à 30 jours à partir du dépôt du dossier complet.
  
  </li>
  <li>
    <strong>Dossier de la demande : Étude détaillée</strong>
    <p>
      Le dossier de la demande pour l'étude détaillée de raccordement doit contenir les éléments suivants :
      <ul>
        <li>Une demande au nom du PDG de STEG pour la réalisation de l'étude détaillée.</li>
        <li>Une copie de l'arrêt (régime autoproduction) ou de la décision (régime autorisation).</li>
        <li>Une copie du contrat de vente (pour le régime autorisation).</li>
        <li>Les documents d'identité (CIN, passeport, registre de commerce).</li>
        <li>Le plan et les coordonnées GPS du poste de livraison.</li>
        <li>Le justificatif de versement des frais de l'étude détaillée.</li>
        <li>Un dossier technique du poste de livraison.</li>
      </ul>
  </li>
</ol>

  


