<div class="contact-section">
    <h2>Contact</h2>

    <p>STEG<br>
       <br>
        1080, Tunis Tunisie<br>
        Tél: 71735422 71959788<br>
        Fax: 71429323<br>
        Produits: Etudes en électricité - électronique, Electricité, Electricité, électronique,  </p>
    
    <p>Appelez-nous :</p>
   
    <ul> <p>
        (+216) 71 34 13 11
        (+216) 71 34 99 81
        </p>
    </ul>
    
    <p>Adresse E-mail : <a href="dpsc@steg.com.tn">dpsc@steg.com.tn</a></p>

    <h3>Nous contacter</h3>
    <form>
        <label for="nom">Nom </label>
        <input type="text" id="nom" name="nom" required>
        
        <label for="email">E-mail </label>
        <input type="email" id="email" name="email" required>
        
        <label for="telephone">Téléphone</label>
        <input type="tel" id="telephone" name="telephone">
        <div>
            <label for="societe">Société ou organisation :</label>
            <input type="text" id="societe" name="societe">
          </div>

        <div>
            <label for="civilite">Civilité :</label>
            <select id="civilite" name="civilite">
              <option value="Mr.">Mr.</option>
              <option value="Mme.">Mme.</option>
              <option value="Mlle.">Mlle.</option>
            </select>
          </div>
        
        <label for="message">Message </label>
        <textarea id="message" name="message" required></textarea>
        
        <button type="submit">Envoyer le message</button>
    </form>
</div>

