<body>
  <!-- Boutons de navigation à droite -->
  <div class="container">
    <div class="nav-buttons">
      <a href="/voir-les-demande" class="nav-button">Voir les demandes</a>
      <a href="/voir-les-demandes-refusees" class="nav-button">Voir les demandes refusées</a>
      <a href="/voir-les-demandes-acceptees" class="nav-button">Voir les demandes acceptées</a>
      <a href="/voir-les-demandes-en-cours" class="nav-button">Voir les demandes en cours</a>
      <a href="/demandes-archivees" class="nav-button">Voir les demandes archivées</a>
    </div>
  </div>
</body>
