<!-- <app-menus-guichet></app-menus-guichet> -->
<!-- <app-login-guichet></app-login-guichet>  -->
<!-- 
<div class="menu">
     Logo à gauche -->
    <!-- <div class="logo-container">
      <img src="assets/steg1.jpg">

    </div> --> 
    <nav>
      <a href=".">
        <div class="login-left">
          <img src="assets/steg1.jpg">
        </div>
      </a>
      <ul>
        <li><a routerLink="/login-guichet">Login</a></li>
        <li class="nav-button-container"><button class="nav-button">Déconnexion</button></li>
      </ul>
    </nav>
   
    <router-outlet></router-outlet>

    <footer>
      <div class="footer-container">
        <div class="contact-info">
          <p><strong>Contact :</strong></p>
          <p><span class="icon">Téléphone :</span> (+216) 71 330 174</p>
          <p><span class="icon">Email :</span> dpsc@steg.com.tn</p>
          <p><span class="icon">Adresse :</span>38 rue Kamel Ataturk 1080 Tunis</p>
        </div>
        <div class="social-links">
          <a href="https://www.facebook.com/STEG.Tunis.Ville" target="_blank">
            <img src="assets/fc.png" alt="Facebook">
          </a>
          <a href="https://www.youtube.com/@STEGTunisieTV" target="_blank">
            <img src="assets/ytb.png" alt="YouTube">
          </a>
          <a href="https://www.google.fr/maps/search/STEG/@32.922161,10.387913,12z/data=!3m1!4b1?entry=ttu" target="_blank">
            <img src="assets/maps.png" alt="Google Maps">
          </a>
        </div>
      </div>
    </footer>
