<div class="container">
    <h1>Demande d'étude préliminaire de raccordement</h1>
    <ul>
      <li>Une demande au nom de Monsieur le PDG de la STEG pour la réalisation de l'étude préliminaire de raccordement, déposée au guichet unique, tout en spécifiant le type d'installation, la puissance à installer et l'année prévue de mise en service.</li>
      <li>Les documents d'identité : une copie de la CIN ou du passeport pour les personnes physiques, et une copie du registre de commerce pour les personnes morales.</li>
      <li>Le plan et les coordonnées GPS du site objet de l'étude de raccordement.</li>
      <li>Le justificatif de versement des frais de l'étude préliminaire de raccordement au compte bancaire de la STEG.</li>
    </ul>
    <p>Les délais de réalisation de l'étude préliminaire de raccordement sont fixés à 30 jours à compter de la date du dépôt au guichet unique d'un dossier complet.</p>
  </div>

  <div class="container">
    <h1>Demande d'étude détaillée de raccordement</h1>
    <ul>
      <li>Une demande au nom de Monsieur le PDG de la STEG pour la réalisation de l'étude détaillée de raccordement, déposée au guichet unique, tout en spécifiant le type d'installation (photovoltaïque, éolienne), la puissance installée et l'année prévue de mise en service.</li>
      <li>Une copie de l'arrêt (régime autoproduction) ou de la décision (régime autorisation) relative à la réalisation du projet.</li>
      <li>Une copie du contrat de vente signé par deux porteurs du projet (pour le régime autorisation).</li>
      <li>Les documents d'identité : une copie de la CIN ou du passeport pour les personnes physiques, et une copie du registre de commerce pour les personnes morales.</li>
      <li>Le plan et les coordonnées GPS du poste de livraison objet de l'étude de raccordement.</li>
      <li>Le justificatif de versement des frais de l'étude détaillée de raccordement au compte bancaire de la STEG.</li>
    </ul>
    <p>Les délais de réalisation de l'étude préliminaire de raccordement sont fixés à 30 jours à compter de la date du dépôt au guichet unique d'un dossier complet.</p>
  </div>
