<div class="container">
    <h2>Consultation des demandes</h2>
    <table>
      <thead>
        <tr>
          <th>Fiscale</th>
          <th>Email</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Numero de tel</th>
          <th>Type de tension </th>
          <th>Vérification</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>12552555</td>
          <td>azi@gmail.com</td>
          <td>aziza</td>
          <td>bk</td>
          <td>56027884</td>
          <td>HT</td>
          <td><button >Vérifier</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  