<div class="demand-list">
    <h2>Demandes refus</h2>
    <table>
        <thead>
            <tr>
                <th>Matricule fiscale</th>
                <th>Numéro de demande</th>
                <th>Date de soumission</th>
                <th>raison de refus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123456789</td>
                <td>123456</td>
                <td>01/02/2023</td>
                <td>
                    <button routerLink="/raison-de-refus">Voir détails</button>
                </td>
            </tr>
            <!-- Ajoutez d'autres lignes pour d'autres demandes acceptées -->
        </tbody>
    </table>
</div>
