
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 <div>
   <div class="container">
		   <nav>
			   <img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt="" class="logo" />
			   
			   <img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt="" class="cart" />
		   </nav>
		   <nav>
		   <ul>
		   <li >
			   <a  routerLink="/accueil">Accueil</a>
			 </li>
			 <li>
			   <a  routerLink="/inscription">Inscription</a>
			 </li>
			 <li>
			   <a  routerLink="/loginuser">Demande</a>
			 </li>
			 <li >
			   <a  routerLink="/resultat">Resultat</a>
			 </li>
			 <li >
			   <a routerLink="/guide">Guide</a>
			 </li>
					 <li >
			 <a  routerLink="/contact">Contact</a>
		   </li></ul>
</nav>
		   <section class="site-container">
			   <p>Bienvenu à</p>
			   <h1>STEG-TUNISIA</h1>
			   <div class="row">
				   <a routerLink="/contact">Prendre un rendez-vous</a>
				   <a href="https://steg.com.tn/fr/index.html">Voir le site officiele </a>
			   </div>
		   </section>

		   <section class="social-icons">
			   <a href="#"><img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt=""></a>
			   <a href="#"><img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt=""></a>
			   <a href="#"><img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt=""></a>
			   <a href="https://drive.google.com/file/d/1u2ZQxyamKsgJ4JxO-kYbytfxaaEkOT_a/view?usp=sharing" target="_blank"><img src="images/drive-fill.png" alt=""></a>
		   </section>
		 </div>
   <img src="" >
 </div>
</body>
</html>
   <!DOCTYPE html>
 